<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="address" class="Address">
        <property name="address" value="hefei"/>
    </bean>
    <bean id="student" class="Student">
        <property name="name" value="name"/>
        <property name="address" ref="address"/>
        <property name="books">
            <array>
                <value>红楼梦</value>
                <value>西游记</value>
                <value>水浒传</value>
                <value>三国演义</value>
            </array>
        </property>
        <property name="hobbies">
            <list>
                <value>红楼梦</value>
                <value>西游记</value>
                <value>水浒传</value>
                <value>三国演义</value>
            </list>
        </property>
        <property name="card">
            <map>
                <entry key="身份" value="123"/>
                <entry key="银行卡" value="456"/>
            </map>
        </property>
        <property name="games">
            <set>
                <value>just do it</value>
            </set>
        </property>
        <property name="wife">
            <null/>
        </property>
        <property name="info">
            <props>
                <prop key="学号">123456</prop>
                <prop key="gender">male</prop>
            </props>
        </property>
    </bean>
</beans>